body {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/2574233/910/607/m1/fpnw/wm0/vect245-.jpg?1492738836&s=099e78051e5e03334c6695a897d20fef&fmt=webp");
  font-family: "Lato", sans-serif;

  text-align: center;
  background-color: peachpuff;
}

h1 {
  font-weight: bold;
  color: white;
  /* color: #897344; */
}

.row {
  justify-content: center;
}

.name,
h1 {
  font-family: "Syncopate", sans-serif;
}

.card:hover {
  transform: scale(1.1);
}
